<style>
.form_div{
    border:1px solid darkblue;
	margin-left:800px;
	padding:10px;
}
.d{
   float:left;
 //  border:2px solid black;
}
input[type=text] {
    width: 400px;
   // padding: 10px 5px;
   // margin: 8px 0;
   // box-sizing: border-box;
}
input[type=Date] {
    width: 400px;
    padding: 12px 10px;
   // margin: 8px 0;
   // box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
input[type=button]{
     width:100px;
	 border-radius:5px;
	 font-family:Arial;
	 font-size:16px;
	 font-weight:bold;
	 color:darkblue;
	 height:50px;
}
.custom-select{
   position: relative;
   font-family: Arial;
   width:400px;
}
.custom-select select {
   //display: none; /*hide original SELECT element:*/
   width:400px;
    padding: 12px 10px;
    //margin: 8px 0;
    box-sizing: border-box;
}
.select-selected {
  
}
label{
  font-family: Arial;
  font-size:16px;
  font-weight:bold;
  color:darkblue;
  font-style:solid;
}
</style>